<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <title>{% block title %}Billetterie en ligne - Musée du Louvre{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{{ path('homepage') }}"><img id="logo-home" src="{{ asset('img/logo-louvre-2018.jpg') }}" alt="Accueil"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-topmenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        <h4 class="alert-heading">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="row">
                <div id="top-banner" class="col-lg-12">
                    <img id="banner-home" src="{{ asset('img/banner_louvre_190px.jpg') }}" alt="Image Louvre">
                </div>
            </div>
        </div>
        {% block breadcrumb %}
        {% endblock %}
        <div class="container">
            <hr>
        {% block body %}{% endblock %}
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div id="menu-footer" class="col-md-12">
                    <nav class="navbar navbar-expand navbar-light bg-light">
                        <div id="navbar-footer">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('cgv') }}">CGV</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('legal_notice') }}">Mentions légales</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    </div>
                </div>
                <div class="row">
                    <div id="copyright" class="col-md-12">
                        <p>Musée du Louvre © {{ 'now'|date('Y') }} - Web design - {{ webmaster }}</p>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>