<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<style type="text/css">
		</style>
	</head>

	<body class="container-fluid">
		{#<img src="{{ asset('img/logo-louvre-2018.jpg') }}" width="250" />#}
        <img src="{{ logo }}" alt="logo Musée du Louvre 2018" width="250" />

		<h3>Merci pour votre réservation</h3>
        <div class="jumbotron" role="alert">
            N° de réservation : {{ purchase.bookingCode }}
        </div>
		<p>Ceci est votre billet digital à utiliser lors de votre visite au Musée du Louvre le {{ purchase.dateOfVisit|date('d/m/Y') }}</p>
        {% for ticket in purchase.tickets %}
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Price</th>
                    <th scope="col">Reduced</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ ticket.firstname }}</td>
                    <td>{{ ticket.lastname }}</td>
                    <td>{{ ticket.birthdate|date("m/d/Y") }}</td>
                    <td>{{ ticket.price }} €</td>
                    <td>{% if ticket.discounted == true %}
                        Oui*
                            {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
        </table>
        <hr>
        {% endfor %}
        <table class="table table-dark">
            <tr class="bg-info">
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">TOTAL</th>
                <th scope="col">{{ totalPrice }} €</th>
            </tr>
        </table>
        <hr>
        <div class="alert alert-warning" role="alert">
            <ul>
                <li> N'oubliez pas votre carte d'identité ou votre passport le jour de la visite, afin de vérifier les informations fournies sur le présent billet. </li>
                <li> *Si vous bénéficiez du tarif réduit, merci d'apporter votre justificatif. </li>
            </ul>
        </div>
		<p>Nous vous souhaitons une agréable visite au Musée du Louvre</p>
        <div class="row">
            <div id="copyright" class="col-md-12">
                <p>Musée du Louvre © {{ 'now'|date('Y') }}</p>
            </div>
        </div>

	</body>
</html>