{% extends 'base.html.twig' %}
{% form_theme form _self %}
{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div  id="form-errors">
                <ul>
                    {% for error in errors %}
                        <li><i class="fas fa-exclamation-triangle"></i> {{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
{% block title %}
    {{ 'page.title.home'|trans }} - {{ parent() }}
{% endblock %}
        {% block breadcrumb %}
            {% include 'default/_breadcrumb.html.twig' %}
        {% endblock %}
{% block body %}
        <div class="row">
            <div id="content" class="col-lg-6">
                <h3>{{ 'purchase.title'|trans }}</h3>
                <div class="well">
                    {{ form_start(form) }}
                    {{ form_row(form.dateOfVisit) }}
                    {{ form_row(form.ticketType) }}
                    {{ form_row(form.numberOfTickets) }}
                    <div id="form-nav" class="form-button">
                        <button type="submit" class="btn btn-primary">{{ 'purchase.button.submit.nextstep'|trans }} <i class="fas fa-angle-double-right"></i></button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div id="infos" class="col-lg-6">
                <h3>{{ 'home.infos.title'|trans }}</h3>
                <p>{{ 'home.infos.p1'|trans }}</p>
                <p>{{ 'home.infos.p2'|trans }}</p>
                <p>{{ 'home.infos.p3'|trans }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div id="infos" class="col-lg-12">
                <h3>{{ 'rates.title'|trans }}</h3>
                <table class="table table-striped table-dark">
                    <thead class="thead-gold">
                    <tr>
                        <th scope="col">{{ 'rates'|trans }}</th>
                        <th scope="col">{{ 'rates.conditions'|trans }}</th>
                        <th scope="col">{{ 'rates.prices'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">"{{ 'rate.regular.title'|trans }}"</th>
                        <td>{{ 'rate.regular.desc'|trans }}</td>
                        <td>16 €</td>
                    </tr>
                    <tr>
                        <th scope="row">"{{ 'rate.kid.title'|trans }}"</th>
                        <td>{{ 'rate.kid.desc'|trans }}</td>
                        <td>8 €</td>
                    </tr>
                    <tr>
                        <th scope="row">"{{ 'rate.senior.title'|trans }}"</th>
                        <td>{{ 'rate.senior.desc'|trans }}</td>
                        <td>12 €</td>
                    </tr>
                    <tr>
                        <th scope="row">"{{ 'rate.discounted.title'|trans }}"</th>
                        <td>{{ 'rate.discounted.desc'|trans }}</td>
                        <td>10 €</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
