{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="container">
        <div id="header" class="jumbotron">
            <h1>Billetterie du Louvre</h1>
        </div>
        <div class="row">
            <div id="infos" class="col-md-12">
                <h3>Les tarifs</h3>
                <table class="table table-dark">
                <thead>
                    <tr>
                    <th scope="col">Tarifs</th>
                    <th scope="col">Conditions</th>
                    <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">"normal"</th>
                        <td>à partir de 12 ans</td>
                        <td>16 €</td>
                    </tr>
                    <tr>
                        <th scope="row">"enfant"</th>
                        <td>de 4 à 12 ans (gratuit pour les moins de 4 ans)</td>
                        <td>8 €</td>
                    </tr>
                    <tr>
                        <th scope="row">"senior"</th>
                        <td>à partir de 60 ans</td>
                        <td>12 €</td>
                    </tr>
                    <tr>
                        <th scope="row">"réduit"</th>
                        <td>sur présentation d'un justificatif (étudiant, employé du musée ou du Ministère de la Culture, militaire)</td>
                        <td>10 €</td>
                    </tr>	
                </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="content" class="col-md-6">
                <h3>Achat billets</h3>
                    <div class="well">
                    {{ form_start(form) }}
                    {{ form_row(form.dateOfVisit) }}
                    {{ form_row(form.visitType) }}
                    {{ form_row(form.numberOfTickets) }}
                    <button type="submit" class="btn btn-primary">étape suivante</button>
                    {{ form_end(form)}}
                    </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
