{% extends 'base.html.twig' %}
{% block title %}
    Achat étape 4 - {{ parent() }}
{% endblock %}
        {% block breadcrumb %}
            {% include 'default/_breadcrumb.html.twig' %}
        {% endblock %}
{% block body %}
    <div id="content">
        <div class="row">
            <div class="col-lg-12">
                <h3>{{ 'step_4.title'|trans }}</h3>
                <div style="overflow-x:auto;">
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'summary.firstname'|trans }}</th>
                            <th scope="col">{{ 'summary.lastname'|trans }}</th>
                            <th scope="col">{{ 'summary.birthdate'|trans }}</th>
                            <th scope="col">{{ 'summary.price'|trans }}</th>
                            <th scope="col">{{ 'summary.discounted'|trans }}*</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in purchase.tickets %}
                            <tr>
                                <td>{{ ticket.firstname }}</td>
                                <td>{{ ticket.lastname }}</td>
                                <td>{{ ticket.birthdate|date("m/d/Y") }}</td>
                                <td>{{ ticket.price }} &euro;</td>
                                <td>{% if ticket.discounted == true and ticket.price > 0 %}
                                        {{ 'summary.discounted.yes'|trans }}
                                    {% elseif ticket.price > 0 %}
                                        {{ 'summary.discounted.no'|trans }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr id="total-amount" class="bg-info">
                            <th colspan="4" scope="col">{{ 'summary.total_amount'|trans }}</th>
                            <th scope="col">{{ purchase.total }} &euro;</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="info-notice" role="alert">
                    <ul>
                        <li><i class="fas fa-info-circle"></i> {{ 'identification.notice'|trans }}</li>
                        <li><i class="fas fa-info-circle"></i> *{{ 'rate.discounted.notice'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="" method="POST">
                    {% if purchase.total %}
                        <div id="form-nav" class="form-button">
                            <a href="{{ path('order_step_3') }}" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> {{ 'purchase.button.backstep'|trans }}</a>
                            <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key= "pk_test_Fk9X4z6v3NxDGpoQHmHrfWj0"
                                    data-amount={{ purchase.total * 100 }}
                                    data-currency="EUR"
                                    data-name="{{ 'stripe.data_name'|trans }}"
                                    data-description="Payment"
                                    data-image="{{ asset('img/logo-louvre-2018-mini.jpg') }}"
                                    data-locale="{{ app.request.locale }}">
                            </script>
                        </div>
                    {% else %}
                        <div id="form-nav" class="form-button">
                            <a href="{{ path('order_step_3') }}" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> {{ 'purchase.button.backstep'|trans }}</a>
                            <button type="submit" value="Submit" class="btn btn-outline-dark">{{ 'purchase.button.pay'|trans }}</button>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('js/stripe-custom.js') }}"></script>
{% endblock %}
